/*#B9464B red*/
/*#D4CBBA light grey*/
/*#385561 blue*/
/*#98938B grey*/
/*#63504C brown*/

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

div, p {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-top: 50px;
  font-size: 12px;
}

.shadow {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  z-index: 9;
  opacity: 0.6;
}

.small-shadow {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  z-index: 9;
  opacity: 0.6;
}

.spotlight {
  background-color: #7D8C92;
  position: relative;
  z-index: 3000;
}

/* SPLASH PAGE */

.container-splash {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/splash.jpg');
  position: relative;
  display: block;
  z-index: 16;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

.container-splash:after {
  content: "";
  background-image: url('../images/carbon.png');
  background-repeat: repeat;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
  position: absolute;
}

.container-splash h1,
.container-splash h2,
.container-splash h3 {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.container-splash h2 {
  font-size: 84px;
  margin-bottom: 32px;
}

.container-splash .btn {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  width: 256px;
  margin-left: 8px;
  margin-right: 8px;
  color: #fff;
}

.container-splash .btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /*color: #B9464B;*/
  /*border: 2px solid rgba(255, 255, 255, 1);*/
}

.container-intro {
  padding-top: 32px;
  padding-bottom: 32px;
}

.container-intro h2 {
  color: #B9464B;
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
}

.container-intro p {
  font-size: 16px;
}

/* BOUNCING ARROW */

.arrow {
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left:-20px;
  cursor: pointer;
}
 
.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
.arrow-animated{
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;

  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  animation-fill-mode:both;
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -ms-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
}
 
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

/* HEADER */

.navbar {
  background-color: #363636;
  border-bottom: 4px solid #B9464B;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.navbar .navbar-brand {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 26px;  
  color: #d7d7d7;
}

.navbar .navbar-brand:hover {
  color: #B9464B;
}

.navbar-default .navbar-nav > .active > a {
  color: #B9464B;
  background-color: #363636;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #B9464B;
  background-color: #363636;
}

.navbar-default .navbar-nav > li > a {
  color: #d7d7d7;
  padding: 15px 10px 15px 10px !important;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #B9464B;
}

/* PAGE FOOTER */

.footer-container {
  background-color: #666;
}

.footer {
  color: #98938B;
  padding: 32px 0px 180px 0px;
}

/* MAP */

.container-map > .container {
  position: relative;
}

.btn-tour {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.container-map {
  background-color: #385561;
  width: auto;
  position: relative;
  z-index: 2;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);*/
}

.d3-map {
  line-height: 0;
  width: 800px;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #224;
  stroke-width: 1.5px;
}

.states {
  fill: #f8f8f8;
  transition: fill 0.3s;
}

.states:hover {
  fill: #303030;
}

.statesActive {
  fill: #8a8a8a;
  transition: fill 0.3s;
}

.statesActive:hover {
  fill: #303030;
}

/* CONTROLS */

.container-controls {
  background-color: #7D8C92; 
  padding-bottom: 8px;
  position: absolute !important;
  width: 100%;
  top: 550px;
  z-index: 10;
}

.container-controls hr {
  border-top: 1px solid #385561;
  margin: 0;
}

.repListControls {
  margin-top: 16px;
}

.col-ctrl {
  padding-top: 16px;
  padding-bottom: 16px;
}

.affix {
  position: fixed !important;
  top: 54px !important;
  width: 100%;
  z-index: 10;
}

/* LIST */

.container-rep-list {
  padding-top: 152px;
  padding-bottom: 32px;
  background-color: #e9e9e9;
  min-height: 250px;
}

.repListHeader {
  color: #fff;
}

.repListHeader a {
  color: #333;
  font-weight: bold;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row-rep {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #a4a4a4;
  -webkit-transition: all 0.3s;
}

.row-rep:hover {
  background-color: #c3c3c3;
}

.row-rep a {
  color: #B9464B;
  cursor: pointer;
}

/* REP MODAL */

.modal-rep .modal-dialog {
  /*width: 360px;*/
}

.row-card {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #DFDFDF;
}

.card-header {
  font-weight: bold;
}

/* ABOUT PAGE */

.container-about {
  background-color: #385561;
  color: #e8e8e8;
  padding-top: 32px;
  padding-bottom: 32px;
}

.container-authors {
  background-color: #e9e9e9;
  color: #333;
  padding-top: 32px;
  padding-bottom: 32px;
}

.row-author {
  margin-top: 32px;
  margin-bottom: 32px;
}

.row-author .panel {
  padding: 8px 24px 8px 24px;
}

.row-author h4 {
  color: #B9464B;
}

/* BOOK PAGE */

.container-book {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #385561;
  color: #e8e8e8;
}

.container-reviews {
  background-color: #e9e9e9;
  color: #333;
  padding-top: 32px;
  padding-bottom: 32px;
}

.book-accolades {
  list-style-type: none;
}

.book-accolades > li {
  margin-top: 16px;
  font-size: 16px;
}

/* METHODOLOGY PAGE */

.container-method {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #385561;
  color: #e8e8e8;
}

.container-defs {
  background-color: #e9e9e9;
  padding-bottom: 350px;
}

.container-defs h2 {
  font-weight: bold;
}

.def-panel {
  font-size: 14px;
  padding-bottom: 32px;
}

.def-panel h3 {
  color: #B9464B;
  margin-bottom: 16px;
}

.def-panel p {
  margin-left: 32px;
}

.defs-sidebar {
  width: 220px;
}

.defs-sidebar .nav > li > a {
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.defs-sidebar .nav > li > a:hover {
  background-color: transparent;
  border-left: 1px solid #B9464B; 
  padding-left: 19px;
  color: #B9464B;
}

.defs-sidebar .nav .active {
  background-color: transparent;
  color: #B9464B;
  border-left: 2px solid #B9464B;
  padding-left: 18px;
  font-weight: bold;
}

.defs-sidebar .nav .active:hover {
  background-color: transparent;
  color: #B9464B;
  border-left: 2px solid #B9464B;
  padding-left: 18px;
  font-weight: bold;
}

/* RESEARCH PAGE */

.container-research {
  padding-top: 24px;
  padding-bottom: 64px;
  background-color: #E9E9E9;
}

.container-research h4 {
  color: #B9464B;
}

/* MEDIA PAGE */

.row-media {
  margin-bottom: 30px;
}

.media-thumb {
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  line-height: 360px;
  text-align: center;
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 360px;
  position: relative;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 15;
  display: block;
}

.media-thumb > .overlay {
  /*-webkit-transition: all 0.3s;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  vertical-align: top;
  padding: 16px;
  color: rgba(255, 255, 255, 0);
  text-shadow: none;
}

.media-thumb:hover > .overlay {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(185, 70, 75, 1);
}

.media-thumb:after {
  content: "";
  background-image: url('../images/carbon.png');
  background-repeat: repeat;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
  position: absolute;
}

.media-thumb-cnn {
  background-image: url('../images/cnn.png');
}

.media-thumb-lse {
  background-image: url('../images/lse.png');
}

.media-thumb-nbc {
  background-image: url('../images/nbc.png');
}

.media-thumb-npr {
  background-image: url('../images/npr.png');
}

.media-thumb-ssn {
  background-image: url('../images/ssn.png');
}

.media-thumb-wapost {
  background-image: url('../images/wapost.png');
}

.media-thumb-nytimes {
  background-image: url('../images/nytimes.png');
}

.media-thumb-huffpost {
  background-image: url('../images/hp.png');
}

.media-thumb-wvtf {
  background-image: url('../images/wvtf.png');
}

.media-thumb-wina {
  background-image: url('../images/wina.png');
}

.media-thumb-statesman {
  background-image: url('../images/statesman.png');
}

.media-thumb-bj {
  background-image: url('../images/bj.png');
}

.media-thumb-cav {
  background-image: url('../images/cav.png');
}

.media-thumb-watimes {
  background-image: url('../images/watimes.png');
}

.media-thumb-azc {
  background-image: url('../images/azc.png');
}

.media-thumb-os {
  background-image: url('../images/os.png');
}

.media-thumb-akp {
  background-image: url('../images/akp.png');
}

.media-thumb-mp1 {
  background-image: url('../images/mp1.png');
}

.media-thumb-mp2 {
  background-image: url('../images/mp2.png');
}

.media-thumb-mp3 {
  background-image: url('../images/mp3.png');
}

/* TOUR */
.tour-tip {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: #FFF;
  z-index: 1000;
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

.vbar {
  position: absolute;
  border-left: 1px solid #999;
  height: 100%;
  top: 0;
  left: 50%;
}