/* HEADER */

.navbar {
  border-bottom: 4px solid #c00;
  box-shadow: 0 0 24px rgba(0, 0, 0, 1);
}

body {
  padding-top: 50px;
}

/* PAGE FOOTER */

.footer-container {
  background-color: #444;
}

.footer {
  color: #888;
  padding: 32px 32px 128px 32px;
}

/* MAP */

.container-map {
  background-color: #224;
  width: auto;
}

.d3-map {
  line-height: 0;
  width: 800px;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #224;
  stroke-width: 1.5px;
}

.states {
  fill: #fff;
  transition: fill 0.3s;
}

.states:hover {
  fill: #f88;
}

.statesActive {
  fill: #c33;
  transition: fill 0.3s;
}

.statesActive:hover {
  fill: #f88;
}

/* CONTROLS */

.container-controls {
  background-color: #E4E5F6;
  padding-bottom: 16px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
  position: absolute !important;
  width: 100%;
  top: 550px;
  z-index: 10;
}

.repListControls {
  margin-top: 32px;
  margin-bottom: 16px;
}

.affix {
  position: fixed !important;
  top: 54px !important;
  width: 100%;
  z-index: 10;
}

/* HELP BOX */

.container-help {
}

.well-help {
  margin-bottom: 0;
  height: 340px;
}

.well-help .nav {
  float: left;
  width: 260px;
}

.well-help .tab-content {
  padding-left: 300px;
}

/* LIST */

.container-rep-list {
  padding-top: 162px;
  padding-bottom: 32px;
  background-color: #fff;
}

.container-rep-list > .container {
}

.table-reps {
}

.table-reps tr {
}

.table-reps thead,
.table-reps tbody {
  width: 100%;
  display: inline-table;
}

.table-reps thead a {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


