/*#B9464B red*/
/*#D4CBBA light grey*/
/*#385561 blue*/
/*#98938B grey*/
/*#63504C brown*/

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

div, p {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-top: 50px;
  font-size: 12px;
}

/* SPLASH PAGE */

.container-splash {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://farm5.staticflickr.com/4134/4880487579_c976c049bb_b.jpg);
  position: relative;
  display: block;
  z-index: 16;
  color: #fff;
  text-align: center;
}

.container-splash:after {
  content: "";
  background-image: url('../images/carbon.png');
  background-repeat: repeat;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.6;
  z-index: -1;
  position: absolute;
}

.container-splash h1,
.container-splash h2 {
  text-align: center;
}

.container-splash h1 {
  font-size: 106px;
}

.container-splash .btn {
  background-color: transparent;
  border: 4px solid rgba(255, 255, 255, 0.5);
  width: 256px;
  margin-left: 8px;
  margin-right: 8px;
}

.container-splash .btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #B9464B;
  border: 4px solid rgba(255, 255, 255, 1);
}

.container-intro h2 {
  text-align: center;
}

.container-intro p {
  font-size: 16px;
}

/* BOUNCING ARROW */
.arrow {
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left:-20px;
  cursor: pointer;
}
 
.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
.animated{
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;

  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  animation-fill-mode:both;
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -ms-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
}
 
 
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

/* HEADER */

.navbar {
  background-color: #363636;
  border-bottom: 4px solid #B9464B;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.navbar .navbar-brand {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 26px;  
  color: #d7d7d7;
}

.navbar .navbar-brand:hover {
  color: #B9464B;
}

.navbar-default .navbar-nav > .active > a {
  color: #B9464B;
  background-color: #363636;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #B9464B;
  background-color: #363636;
}

.navbar-default .navbar-nav > li > a {
  color: #d7d7d7;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #B9464B;
}

/* PAGE FOOTER */

.footer-container {
  background-color: #666;
}

.footer {
  color: #98938B;
  padding: 32px 0px 128px 0px;
}

/* MAP */

.container-map {
  background-color: #385561;
  width: auto;
  position: relative;
  z-index: 15;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.d3-map {
  line-height: 0;
  width: 800px;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #224;
  stroke-width: 1.5px;
}

.states {
  fill: #f8f8f8;
  transition: fill 0.3s;
}

.states:hover {
  fill: #f88080;
}

.statesActive {
  fill: #B9464B;
  transition: fill 0.3s;
}

.statesActive:hover {
  fill: #f88080;
}

/* CONTROLS */

.container-controls {
  background-color: #7D8C92; 
  padding-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  position: absolute !important;
  width: 100%;
  top: 550px;
  z-index: 10;
}

.repListControls {
  margin-top: 32px;
  margin-bottom: 16px;
}

.affix {
  position: fixed !important;
  top: 54px !important;
  width: 100%;
  z-index: 10;
}

/* HELP BOX */

.container-help {
}

.well-help {
  margin-bottom: 0;
  height: 464px;
}

.well-help .nav {
  float: left;
  width: 270px;
}

.well-help .tab-content {
  padding-left: 290px;
}

/* LIST */

.container-rep-list {
  padding-top: 154px;
  padding-bottom: 32px;
  background-color: #e9e9e9;
  min-height: 250px;
}

.repListHeader a {
  color: #B9464B;
  font-weight: bold;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.repListRow {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #a4a4a4;
  -webkit-transition: all 0.3s;
  -webkit-transition-delay: 0.2s;
}

.repListRow:hover {
  /*padding-top: 16px;
  padding-bottom: 16px;*/
  background-color: #c3c3c3;
}

.repListRow a {
  color: #B9464B;
  cursor: pointer;
}


