/* Space out content a bit */
body {
  padding-top: 56px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  margin-top: 30px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.mapContainer {
  width: 800px;
}

.repListContainer {
  width: 1000px;
  height: 640px;
  overflow: visible;
}

.repListControls {
  margin-bottom: 16px;
}

.table-reps {
  width: 100%;
  position: relative;
  overflow: visible;
}

.table-reps tr {
  width: 100%;
  display: inline-table;
}

.table-reps thead,
.table-reps tbody {
  position: absolute;
  overflow-y: scroll;
  width: 100%;
}

.table-reps thead a {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table-reps tbody {
  height: 560px;
  margin-top: 32px;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: 1.0px;
}

.states {
  fill: #ccc;
  transition: fill 0.3s;
}

.states:hover {
  fill: #88b1f9;
}

.statesActive {
  fill: #1e59b1;
  transition: fill 0.3s;
}

.statesActive:hover {
  fill: #88b1f9;
}
