<div class="container-fluid container-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About the Project</h2>
                <br>
                <p>
                    The Legislative Effectiveness Project aims to understand why some members of Congress are generally better than others at moving their bills through the legislative process, from introducing bills into the U.S. House of Representatives, to advocating for them through committee hearings, floor debate, until they are possibly signed into law by the President of the United States.  In addition to identifying how successful some Representatives are, in comparison to others, the Legislative Effectiveness Project also seeks to understand what variation in legislators’ effectiveness in lawmaking implies for the organization of Congress and the creation of public policy in the contemporary American political system?
                </p>
                <p>
                    To engage these tasks, we develop Legislative Effectiveness Scores for each member of the U.S. House from the early 1970s through the present.  In Legislative Effectiveness in the United States Congress: The Lawmakers, we employ this metric to explore how parties influence legislative policymaking, the strategies that women and African Americans adopt in Congress to promote their policy goals, and how entrepreneurial lawmakers can develop issue expertise to overcome party polarization and policy gridlock.  We also focus on the twenty most effective rank-and-file Representatives of the past 40 years, and identify a collection of strategies and habits that legislators can use to become effective lawmakers, and discuss how American voters can focus on legislative effectiveness to promote a better democracy.
                </p>
                <p>
                    The scores that we develop, and our analytical approach is employed in several <a href="#/research">other research projects</a> which are highlighted on these pages.  Additionally, the Legislative Effectiveness Project will continue to update Representatives’ Legislative Effectiveness Scores in future years to provide scholars, journalists, and members of the general public with information about the relative successes of Members of the contemporary Congress.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-authors">
    <div class="container">
        <h2>About the Authors</h2>
        <div class="row row-author">
            <div class="col-md-8">
                <div class="panel">
                    <h4>Craig Volden</h4>
                    <p class="text-muted">Frank Batten School of Leadership and Public Policy</p>
                    <p class="text-muted">Professor of Public Policy and Politics</p>
                    <p>Craig Volden is a professor of public policy and politics, with appointments in the Frank Batten School of Leadership and Public Policy and the Woodrow Wilson Department of Politics. He studies legislative politics and the interaction among political institutions, with a focus on what policy choices arise from legislative-executive relations and from American federalism.</p>
                    <p>Before joining the Batten School, Prof. Volden taught at the Ohio State University, the Harris School of Public Policy at the University of Chicago, and Claremont Graduate University. His major work, Revolving Gridlock, co-authored with David Brady, explores the conditions under which members of Congress are able to overcome the constraints that frequently produce policy gridlock. He has published numerous articles in such journals as: American Political Science Review; American Journal of Political Science; Journal of Politics; Legislative Studies Quarterly; Journal of Law, Economics &amp; Organization; and Publius: The Journal of Federalism.</p>
                    <p><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;&nbsp;<a href="tel:434-243-3725">434-243-3725</a></p>
                    <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;<a href="mailto:volden@virginia.edu">volden@virginia.edu</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="http://placekitten.com/400/400" class="img-responsive img-thumbnail">
            </div>
        </div>
        <div class="row row-author">
            <div class="col-md-4">
                <img src="http://placekitten.com/400/400" class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <h4>Alan E. Wiseman</h4>
                    <p class="text-muted">Vanderbilt University</p>
                    <p class="text-muted">Associate Professor of Political Science</p>
                    <p class="text-muted">Associate Professor of Law (by courtesy)</p>
                    <p class="text-muted">Co-director, Center for the Study of Democratic Institutions</p>
                    <p>Professor Wiseman is an Associate Professor of Political Science and Law (by courtesy) at Vanderbilt University.  He has research and teaching interests in American political institutions and positive political economy, focusing on legislative and electoral politics, regulation, bureaucratic politics, and business-government relations. </p>
                    <p>Prior joining the faculty at Vanderbilt University, he served on the faculty of The Ohio State University, where he directed the undergraduate public policy minor in the College of Social and Behavioral Sciences. He has also been a visiting professor at Northwestern’s Kellogg School of Management, and served as a visiting economic scholar with the U.S. Federal Trade Commission. He is the author of The Internet Economy: Access, Taxes, and Market Structure (Brookings Institution Press, 2001), and has published numerous articles in journals such as the American Political Science Review, American Journal of Political Science, the Journal of Politics, Legislative Studies Quarterly and the Journal of Theoretical Politics. </p>
                    <p><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;&nbsp;<a href="tel:615-322-6241">615-322-6241</a></p>
                    <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;<a href="mailto:alan.wiseman@vanderbilt.edu">alan.wiseman@vanderbilt.edu</a></p>
                </div>
            </div>
        </div>
    </div>
</div>