<div class="container-fluid container-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About the Project</h2>
                <br>
                <p>
                    Why are some members of Congress better than others at lawmaking, from introducing bills, to advocating for them in committee hearings and floor debate, to enacting new laws? And how does variation in legislators’ effectiveness affect the organization of Congress and the creation of American public policy?
                </p>
                <p>
                    To answer these questions, we develop Legislative Effectiveness Scores (averaged to 1 in each Congress) for each member of the U.S. House of Representatives from the early 1970s through the present. In <a href="#/book">Legislative Effectiveness in the United States Congress: The Lawmakers</a>, we employ these scores to explore how parties influence legislative policymaking, what strategies women and African Americans use to promote their policy goals, and how entrepreneurial lawmakers can develop issue expertise to overcome party polarization and policy gridlock. We also highlight the twenty most effective rank-and-file Representatives of the past 40 years, identify the strategies and habits that legislators can use to become effective lawmakers, and discuss how American voters can focus on legislative effectiveness to promote a better democracy.
                </p>
                <p>
                    We also highlight several related <a href="#/research">research projects</a> here. Finally, the Legislative Effectiveness Project will continue to update Representatives’ Legislative Effectiveness Scores in future years to provide scholars, journalists, and members of the general public with information about the relative successes of Members of the contemporary Congress.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-authors">
    <div class="container">
        <h2>About the Authors</h2>
        <div class="row row-author">
            <div class="col-md-8">
                <div class="panel">
                    <h4><a href="http://www.batten.virginia.edu/content/faculty-research/faculty/craig-nodefieldfacultymiddlename-volden" target="_blank">Craig Volden</a></h4>
                    <p class="text-muted">University of Virginia</p>
                    <p class="text-muted">Frank Batten School of Leadership and Public Policy</p>
                    <p class="text-muted">Professor of Public Policy and Politics</p>
                    <p>Craig Volden is a professor of public policy and politics, with appointments in the Frank Batten School of Leadership and Public Policy and the Woodrow Wilson Department of Politics. He studies legislative politics and the interaction among political institutions, with a focus on what policy choices arise from legislative-executive relations and from American federalism.</p>
                    <p>Before joining the Batten School, Prof. Volden taught at The Ohio State University, the Harris School of Public Policy at the University of Chicago, and Claremont Graduate University. His previous work includes <em>Revolving Gridlock</em>, co-authored with David Brady, which explores the conditions under which members of Congress are able to overcome the constraints that frequently produce policy gridlock. He has published numerous articles in such journals as: <em>American Political Science Review; American Journal of Political Science</em>; <em>Journal of Politics</em>; <em>Legislative Studies Quarterly</em>; <em>Journal of Law, Economics &amp; Organization</em>; <em>and Publius: The Journal of Federalism</em>.</p>
                    <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;<a href="mailto:volden@virginia.edu">volden@virginia.edu</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="images/volden.jpg" class="img-responsive img-thumbnail">
            </div>
        </div>
        <div class="row row-author">
            <div class="col-md-4">
                <img src="images/wiseman.jpg" class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <h4><a href="https://my.vanderbilt.edu/alanwiseman" target="_blank">Alan E. Wiseman</a></h4>
                    <p class="text-muted">Vanderbilt University</p>
                    <p class="text-muted">Associate Professor of Political Science</p>
                    <p class="text-muted">Associate Professor of Law (by courtesy)</p>
                    <p>Professor Wiseman is an Associate Professor of Political Science and Law (by courtesy) at Vanderbilt University.  He has research and teaching interests in American political institutions and positive political economy, focusing on legislative and electoral politics, regulation, bureaucratic politics, and business-government relations. </p>
                    <p>Before joining the Vanderbilt Faculty, Professor Wiseman taught at The Ohio State University, where he directed the undergraduate public policy minor in the College of Social and Behavioral Sciences. He has also taught at Northwestern’s Kellogg School of Management, and served as a visiting economic scholar with the U.S. Federal Trade Commission. He is the author of The <em>Internet Economy: Access, Taxes, and Market Structure</em> (Brookings Institution Press, 2001), and has published numerous articles in journals such as the <em>American Political Science Review</em>, <em>American Journal of Political Science</em>, <em>the Journal of Politics, Legislative Studies Quarterly</em> and the <em>Journal of Theoretical Politics</em>.</p>
                    <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;<a href="mailto:alan.wiseman@vanderbilt.edu">alan.wiseman@vanderbilt.edu</a></p>
                </div>
            </div>
        </div>
    </div>
</div>