<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="http://mediaroom.scholastic.com/files/HP5cover.jpg" width="456" height="675"></img>
            </div>
            <div class="col-md-7">
                <p>
                    Starting with the premise that some members of Congress are more effective as lawmakers than are others, Volden and Wiseman develop Legislative Effectiveness Scores for each member of the U.S. House from the early 1970s through the present.  They showcase how this measure, and the study of effective lawmaking more generally, sheds new light on the most important topics of legislative politics, including: how parties influence legislative policymaking, the strategies that women and African Americans adopt in Congress to promote their policy goals, and how entrepreneurial lawmakers can develop issue expertise to overcome party polarization and policy gridlock.  Ultimately focusing on the twenty most effective representatives of the past 40 years, Volden and Wiseman identify a collection of strategies and habits that legislators can use to become effective lawmakers, and discuss how American voters can focus on legislative effectiveness to promote a better democracy.
                </p>
            </div>
        </div>
    </div>
</div>