<div class="container-fluid container-method">
    <div class="container">
        <h2>Download Datasets</h2>
    </div>
</div>
<div class="container-fluid container-research">
    <div class="container" style="position: relative;">
        <div class="row" style="margin-top: 32px; margin-bottom: 32px;">
            <div class="col-xs-6">
                <h5>
                    Legislative Effectiveness Data from 93rd-110th Congress (1973-2008)—These are the data that served as the foundation for the analysis in <em>Legislative Effectiveness in the United States Congress: The Lawmakers</em>.
                </h5>
            </div>
            <div class="col-xs-6">
                <h5>
                    Legislative Effectiveness Data from 111th-113th Congress (2009-2014)—This dataset includes updated Legislative Effectiveness Scores for those most recently-completed Congresses.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <a class="btn btn-danger btn-lg btn-block" href="data/LEPData93to110Congresses.xlsx">Download .xlsx</a>
            </div>
            <div class="col-xs-3">
                <a class="btn btn-danger btn-lg btn-block" href="data/LEPData93to110Congresses.dta">Download .dta</a>
            </div>
            <div class="col-xs-3">
                <a class="btn btn-danger btn-lg btn-block" href="data/LEPData111to113Congresses.xlsx">Download .xlsx</a>
            </div>
            <div class="col-xs-3">
                <a class="btn btn-danger btn-lg btn-block" href="data/LEPData111to113Congresses.dta">Download .dta</a>
            </div>
        </div>
        <div class="vbar"></div>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 50px; margin-bottom: 250px;">
            <div class="col-xs-12">
                Citation information: If you use these data in scholarly research, please reference the book for which the data were generated: Volden, Craig, and Alan E. Wiseman. 2014. <em>Legislative Effectiveness in the United States Congress: The Lawmakers.</em> New York: Cambridge University Press.
            </div>
        </div>
    </div>
</div>