<tour step="currentStep" post-tour="tourComplete()">
<div id="map" class="container-fluid container-map">
    <div class="container">
        <d3-map></d3-map>
        <div class="tour-btn">
            <a class="btn btn-danger" ng-click="openTour()">Take the Tour</a>
        </div>
    </div>
</div>
<div class="container-fluid container-controls" data-offset-top="497" bs-affix>
    <div class="container">
        <div class="row repListControls">
            <div class="col-md-3">
                <strong
                 tourtip="Step 1: Select a session of Congress to explore"
                 tourtip-step="0"
                 tourtip-placement="bottom">Selected Congress</strong>
                <select class="form-control input-sm" ng-options="key + ' ' + value.year for (key, value) in leData" ng-model="selectedCongress" ng-change="switchCongress()">
                </select>
            </div>
            <div class="col-md-3">
                <strong
                 tourtip="Step 2: Search the selected congress by clicking a state on the map..."
                 tourtip-step="1"
                 tourtip-placement="bottom">Selected State</strong>
                <input type="text" class="form-control input-sm" placeholder="state" ng-model="selectedState" readonly>
            </div>
            <div class="col-md-3">
                <strong
                 tourtip="... or search the latest congress by zip..."
                 tourtip-step="2"
                 tourtip-placement="bottom">Search By Zip</strong>
                <form class="form-inline" role="form">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-model="zip" placeholder="zip">
                        <span class="input-group-btn"><button class="btn btn-default" ng-click="lookupZip(zip)"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <strong
                 tourtip="... or search the selected congress by representative name"
                 tourtip-step="3"
                 tourtip-placement="bottom">Search By Name</strong>
                <form class="form-inline" role="form">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-model="repName" placeholder="name">
                        <span class="input-group-btn"><button class="btn btn-default" ng-click="lookupName(repName)"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="row repListHeader"
             tourtip="Step 3: Browse and compare the list of representatives.  Click a name to view their LES scorecard.  Hover over (?) icons to view an explanation of each term."
             tourtip-step="4"
             tourtip-next-label="Done"
             tourtip-placement="bottom">
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-question-sign" popover="A Legislative Effectiveness Scorecard identifies for a given member of the House of Representatives in a given Congress her Legislative Effectiveness Score, and within that congress: how many bills that she introduced (BILL), how many of those bills received some sort of Action in Committee (AIC) and/or Action beyond Committee (ABC), how many of those bills passed the House (PASS) and how many of those bills ultimately became Law (LAW).  Moreover, the Legislative Effectiveness Scorecard also identifies, for each bill in each stage of the legislative process, how many bills were Commemorative (C), Substantive (S), or Substantive and Significant (SS)." popover-trigger="mouseenter" popover-placement="bottom" popover-animation="true" popover-append-to-body="true"></span>
                    <a ng-click="setOrder('repName')">
                        Representative
                    </a> 
                    <span ng-show="checkOrder('repName')">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-sort-by-alphabet"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                    </span>
                </div>
                <div class="col-md-1">
                    <a ng-click="setOrder('party')">
                        Pty
                    </a> 
                    <span ng-show="checkOrder('party')">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-sort-by-alphabet"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                    </span>
                </div>
                <div class="col-md-2">
                    <a ng-click="setOrder(['stName', 'cd'])">
                        District
                    </a>
                    <span ng-show="checkOrder(['stName', 'cd'])">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-sort-by-order"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-sort-by-order-alt"></span>
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="glyphicon glyphicon-question-sign" popover="The Rank in Party is the numerical ranking of a member of the House of Representative’s Legislative Effectiveness Score in comparison to other members of her political party in a given two-year Congress, where “1” connotes the highest Legislative Effectiveness Score." popover-trigger="mouseenter" popover-placement="bottom" popover-animation="true" popover-append-to-body="true"></span>
                    <a ng-click="setOrder(['party', 'partyRank'])">
                        Party Rank
                    </a>
                    <span ng-show="checkOrder(['party', 'partyRank'])">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-sort-by-order"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-sort-by-order-alt"></span>
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="glyphicon glyphicon-question-sign" popover="The Benchmark Score for a member of the House of Representatives is the expected Legislative Effectiveness Score for a Representative in a given Congress who is of the same political party, has served the same number of terms in Congress, and has held the same number of Committee and/or Subcommittee Chairmanships as the given member." popover-trigger="mouseenter" popover-placement="bottom" popover-animation="true" popover-append-to-body="true"></span>
                    <a ng-click="setOrder('benchmark')">
                        Benchmark
                    </a>
                    <span ng-show="checkOrder('benchmark')">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-sort-by-attributes"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    </span>
                </div>
                <div class="col-md-2">
                    <span class="glyphicon glyphicon-question-sign" popover="The Legislative Effectiveness Score (LES) is a summary measure that captures how successful each member of the House of Representatives is, in a given two-year Congress, at moving her agenda items, which are coded for their relative substantive significance, through the different steps of the legislative process, which begins with introducing a bill into the House until it (possibly) becomes law." popover-trigger="mouseenter" popover-placement="bottom" popover-animation="true" popover-append-to-body="true"></span>
                    <a ng-click="setOrder('les')">
                        LES
                    </a>
                    <span ng-show="checkOrder('les')">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-sort-by-attributes"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    </span>
                </div>
            </div>
    </div>
</div>
<div id="repList" class="container-fluid container-rep-list">
    <div class="container">
        <div class="row repListRow" ng-repeat="rep in repList|orderBy:orderByField:reverseSort">
            <div class="col-md-3">
                <strong><a ng-click="showRep(rep)">{{rep.repName}}</a></strong>
            </div>
            <div class="col-md-1">
                {{rep.party.substring(0,3)}}
            </div>
            <div class="col-md-2">
                {{rep.stName}}-{{rep.cd}}
            </div>
            <div class="col-md-2">
                {{rep.partyRank}} / {{rep.totalInParty}}
            </div>
            <div class="col-md-2">
                {{rep.benchmark.toFixed(3)}}
            </div>
            <div class="col-md-2">
                <span class="text-{{expectText(rep.expect)}}"><span class="glyphicon glyphicon-{{expectGlyph(rep.expect)}}" popover="{{expectTooltip(rep.expect)}}" popover-trigger="mouseenter" popover-placement="top"></span> {{rep.les.toFixed(3)}}</span>
            </div>
        </div>
    </div>
</div>
</tour>