<div class="container-fluid container-method">
    <div class="container">
        <h2>Media Links</h2>
    </div>
</div>
<div class="container-fluid container-research">
    <div class="container">
        <div class="row row-media">
            <div class="col-md-4">
                <a href="http://www.nbcnews.com/video/the-cycle/51483268#51483268" target="_blank">
                    <div class="media-thumb media-thumb-nbc">
                        NBC
                        <div class="overlay">
                            Link to interview with Craig Volden on The Cycle, on MSNBC, discussing the paper “When are Women More Effective Lawmakers than Men” (American Journal of Political Science, 2013)
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-8">
                <a href="http://www.washingtonpost.com/opinions/fed-up-with-congress-then-help-elect-more-republican-women/2013/12/03/a4185cf6-5ba5-11e3-bf7e-f567ee61ae21_story.html?hpid=z3" target="_blank">
                    <div class="media-thumb media-thumb-wapost">
                        Washington Post
                        <div class="overlay">
                                Link to op-ed authored by Danielle Thomsen in the Washington Post, that discusses the implications of the Legislative Effectiveness Project research for understanding the determinants of gridlock in the contemporary Congress
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row row-media">
            <div class="col-md-4">
                <a href="http://www.scholarsstrategynetwork.org/sites/default/files/ssn_key_findings_volden_and_wiseman_on_who_are_the_most_effective_lawmakers_in_congress.pdf" target="_blank">
                    <div class="media-thumb media-thumb-ssn">
                        SSN
                        <div class="overlay">
                            Link to Scholars Strategy Network brief that describes the Legislative Effectiveness Project and highlights key findings from Legislative Effectiveness in the United States Congress: The Lawmakers, and related research
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://www.npr.org/2014/05/08/310630792/women-on-capitol-hill-may-be-better-at-crossing-party-lines" target="_blank">
                    <div class="media-thumb media-thumb-npr">
                        NPR
                        <div class="overlay">
                            Link to interview with Craig Volden on NPR, discussing the implications of the analysis in “When are Women More Effective Lawmakers than Men” (American Journal of Political Science, 2013) for contemporary political debates and policymaking in Congress
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://www.cnn.com/2014/05/13/politics/women-lawmakers/index.html?hpt=hp_bn3" target="_blank">
                    <div class="media-thumb media-thumb-cnn">
                        CNN
                        <div class="overlay">
                            Link to CNN story that discusses the implications of the Legislative Effectiveness Project research for understanding the determinants of gridlock in the contemporary Congress
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row row-media">
            <div class="col-md-8">
                <a href="http://www.nytimes.com/2013/03/22/us/politics/women-make-new-gains-in-the-senate.html?hp&_r=1&" target="_blank">
                    <div class="media-thumb media-thumb-nytimes">
                        NY Times
                        <div class="overlay">
                            Link to New York Times story that discusses the role of women in the U.S. Senate, and cites and engages the implications of “When are Women More Effective Lawmakers than Men” (American Journal of Political Science, 2013)
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://blogs.lse.ac.uk/usappblog/2013/09/20/women-in-congress-more-effective-lawmakers-than-men/" target="_blank">
                    <div class="media-thumb media-thumb-lse">
                        LSE
                        <div class="overlay">
                            Link to LSE American Politics &amp; Policy blog posting on the role of women in the United States Congress and their relative legislative effectiveness
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row row-media">
            <div class="col-md-4">
                <a href="http://www.huffingtonpost.com/rep-hank-johnson/study-rep-johnson-most-ef_b_6042834.html?utm_hp_ref=black-voices&ir=Black+Voices" target="_blank">
                    <div class="media-thumb media-thumb-huffpost">
                        HP
                        <div class="overlay">
                            Huffington Post
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://wvtf.org/post/legislative-effectiveness-project" target="_blank">
                    <div class="media-thumb media-thumb-wvtf">
                        WVTF
                        <div class="overlay">
                            WVTF Public Radio
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://wina.com/morning-news/professor-craig-volden/" target="_blank">
                    <div class="media-thumb media-thumb-wina">
                        Wina
                        <div class="overlay">
                            WINA Morning News
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row row-media">
            <div class="col-md-4">
                <a href="http://www.statesman.com/news/news/us-rep-lamar-smith-ranks-at-top-of-effectiveness-s/nhspJ/" target="_blank">
                    <div class="media-thumb media-thumb-statesman">
                        Statesman
                        <div class="overlay">
                            The Statesman
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://www.bizjournals.com/nashville/morning_call/2014/10/new-vanderbilt-website-scores-the-effectiveness-of.html" target="_blank">
                    <div class="media-thumb media-thumb-bj">
                        BJ
                        <div class="overlay">
                            Bizjournals  
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://www.cavalierdaily.com/article/2014/10/volden-legislative-effectiveness-score" target="_blank">
                    <div class="media-thumb media-thumb-cav">
                        CD
                        <div class="overlay">
                            The Cavalier Daily
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row row-media">
            <div class="col-md-4">
                <a href="http://www.washingtontimes.com/news/2014/oct/14/female-lawmakers-are-more-effective-study-says/" target="_blank">
                    <div class="media-thumb media-thumb-watimes">
                        WT
                        <div class="overlay">
                            Washington Times
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://www.azcentral.com/story/news/arizona/politics/2014/11/02/arizona-house-incumbents-re-election/18390895/" target="_blank">
                    <div class="media-thumb media-thumb-azc">
                        AZC
                        <div class="overlay">
                            Arizona Central
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://www.orlandosentinel.com/news/politics/political-pulse/os-mica-scores-2-in-congress-effectiveness-rating-20141020-post.html" target="_blank">
                    <div class="media-thumb media-thumb-os">
                        OS
                        <div class="overlay">
                            Orlando Sentinel
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>