<div class="modal modal-rep"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
              <h2>{{select.rep.repName}}</h2>
              <strong>({{select.rep.party.substring(0,1)}}, {{select.rep.stName}}-{{select.rep.cd}})</strong>
              <br>
              <strong>{{select.rep.congress}} Congress</strong>
            </div>
            <div class="modal-body">
                <span class="text-center">
                    <h4>
                        LES: <span class="text-{{expectText(select.rep.expect)}}"><span class="glyphicon glyphicon-{{expectGlyph(select.rep.expect)}}"></span> {{select.rep.les.toFixed(3)}}</span>
                    </h4>
                </span>
                        <div class="row row-card">
                            <div class="col-md-3 col-md-offset-3 card-header">
                                <span class="glyphicon glyphicon-question-sign"
                                      bs-tooltip="tooltips.c"
                                      data-placement="bottom"></span>&nbsp;C
                            </div>
                            <div class="col-md-3 card-header">
                                <span class="glyphicon glyphicon-question-sign"
                                      bs-tooltip="tooltips.s"
                                      data-placement="bottom"></span>&nbsp;S
                            </div>
                            <div class="col-md-3 card-header">
                                <span class="glyphicon glyphicon-question-sign"
                                      bs-tooltip="tooltips.ss"
                                      data-placement="bottom"></span>&nbsp;SS
                            </div>
                        </div>
                        <div class="row row-card">
                            <div class="col-md-3 card-header">
                                <span class="glyphicon glyphicon-question-sign"
                                      bs-tooltip="tooltips.bill"
                                      data-placement="top"></span>&nbsp;BILL</div>
                            <div class="col-md-3">{{select.rep.cBills}}</div>
                            <div class="col-md-3">{{select.rep.sBills}}</div>
                            <div class="col-md-3">{{select.rep.ssBills}}</div>
                        </div>
                        <div class="row row-card">
                            <div class="col-md-3 card-header">
                                <span class="glyphicon glyphicon-question-sign"
                                      bs-tooltip="tooltips.aic"
                                      data-placement="top"></span>&nbsp;AIC</div>
                            <div class="col-md-3">{{select.rep.cAic}}</div>
                            <div class="col-md-3">{{select.rep.sAic}}</div>
                            <div class="col-md-3">{{select.rep.ssAic}}</div>
                        </div>
                        <div class="row row-card">
                            <div class="col-md-3 card-header">
                                <span class="glyphicon glyphicon-question-sign"
                                      bs-tooltip="tooltips.abc"
                                      data-placement="top"></span>&nbsp;ABC</div>
                            <div class="col-md-3">{{select.rep.cAbc}}</div>
                            <div class="col-md-3">{{select.rep.sAbc}}</div>
                            <div class="col-md-3">{{select.rep.ssAbc}}</div>
                        </div>
                        <div class="row row-card">
                            <div class="col-md-3 card-header">
                                <span class="glyphicon glyphicon-question-sign"
                                      bs-tooltip="tooltips.pass"
                                      data-placement="top"></span>&nbsp;PASS</div>
                            <div class="col-md-3">{{select.rep.cPass}}</div>
                            <div class="col-md-3">{{select.rep.sPass}}</div>
                            <div class="col-md-3">{{select.rep.ssPass}}</div>
                        </div>
                        <div class="row row-card">
                            <div class="col-md-3 card-header">
                                <span class="glyphicon glyphicon-question-sign"
                                      bs-tooltip="tooltips.law"
                                      data-placement="top"></span>&nbsp;LAW</div>
                            <div class="col-md-3">{{select.rep.cLaw}}</div>
                            <div class="col-md-3">{{select.rep.sLaw}}</div>
                            <div class="col-md-3">{{select.rep.ssLaw}}</div>
                        </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" 
                        ng-click="hideRep()">Close</button>
            </div>
</div></div></div>