<div class="modal-header text-center">
  <h3>{{rep.repName}}</h3>
  <strong>({{rep.party.substring(0,1)}}, {{rep.stName}}-{{rep.cd}})</strong>
  <br>
  <strong>{{rep.congress}} Congress</strong>
</div>
<div class="modal-body">
    <span class="text-center">
        <h4>
            LES: <span class="text-{{expectText}}"><span class="glyphicon glyphicon-{{expectGlyph}}"></span> {{rep.les}}</span>
        </h4>
    </span>
    <hr>
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th class="col-md-3"></th>
                <th class="col-md-3">
                    <span class="glyphicon glyphicon-question-sign" popover="A bill is denoted as “Commemorative (C)” if it the substance of the legislation satisfies one of several criteria deeming it as commemorative or symbolic in purpose, such as the naming and/or renaming of public buildings, the striking of commemorative coins and medals, and related matters." popover-trigger="mouseenter" popover-placement="top" popover-animation="true"></span> C
                </th>
                <th class="col-md-3">
                    <span class="glyphicon glyphicon-question-sign" popover="A bill is denoted as “Substantive (S)” if it is neither Commemorative or Substantive and Significant, according to our coding protocol; or, if it would have been denoted as Commemorative, but it was mentioned in an end-of-the-year write-up in the Congressional Quarterly (CQ) Almanac that corresponds to the relevant Congress." popover-trigger="mouseenter" popover-placement="top" popover-animation="true"></span> S
                </th>
                <th class="col-md-3">
                    <span class="glyphicon glyphicon-question-sign" popover="A bill is denoted as “Substantive and Significant (SS)” if the bill is mentioned in an end-of-the-year write-up in the Congressional Quarterly (CQ) Almanac that corresponds to the relevant Congress." popover-trigger="mouseenter" popover-placement="top" popover-animation="true"></span> SS
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-3">BILL</td>
                <td class="col-md-3">{{rep.cBills}}</td>
                <td class="col-md-3">{{rep.sBills}}</td>
                <td class="col-md-3">{{rep.ssBills}}</td>
            </tr>
            <tr>
                <td class="col-md-3">AIC</td>
                <td class="col-md-3">{{rep.cAic}}</td>
                <td class="col-md-3">{{rep.sAic}}</td>
                <td class="col-md-3">{{rep.ssAic}}</td>
            </tr>
            <tr>
                <td class="col-md-3">ABC</td>
                <td class="col-md-3">{{rep.cAbc}}</td>
                <td class="col-md-3">{{rep.sAbc}}</td>
                <td class="col-md-3">{{rep.ssAbc}}</td>
            </tr>
            <tr>
                <td class="col-md-3">PASS</td>
                <td class="col-md-3">{{rep.cPass}}</td>
                <td class="col-md-3">{{rep.sPass}}</td>
                <td class="col-md-3">{{rep.ssPass}}</td>
            </tr>
            <tr>
                <td class="col-md-3">LAW</td>
                <td class="col-md-3">{{rep.cLaw}}</td>
                <td class="col-md-3">{{rep.sLaw}}</td>
                <td class="col-md-3">{{rep.ssLaw}}</td>
            </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="close()">Close</button>
</div>