<div class="row">
    <p>Who Are the Most Effective Lawmakers in Congress</p>
    <p>Craig Volden and Alan E. Wiseman</p>
    <p>Scholars Strategy Network</p>
    <p>October, 2013</p>
    <p>Members of Congress are typically identified by party affiliation, perhaps with modifiers such as “moderate” or “tea party.” Journalists describe legislators that way; so do political scientists, albeit with more precise measures of ideological positions. When citizens enter the voting booth to choose their representatives, they rely on party identification, biographical snippets, and perhaps positions on high-profile issues. But when the election is over, the main responsibility of members of Congress goes beyond being a partisan or an ideologue. First and foremost, members are lawmakers.</p>
    <br>
    <a href="http://www.scholarsstrategynetwork.org/sites/default/files/ssn_key_findings_volden_and_wiseman_on_who_are_the_most_effective_lawmakers_in_congress.pdf">READ THE ARTICLE</a>
</div>
<hr>
<div class="row">
    <p>Women’s Issues and Their Fates in Congress</p>
    <p>Craig Volden, Alan E. Wiseman, and Dana E. Wittmer</p>
    <p>Working Paper</p>
    <p>May, 2013</p>
    <p>Significant scholarship indicates that female legislators focus their attention on “women’s issues” to a greater extent than do male lawmakers. Yet, women’s issues have thus far been largely selected by scholars ex ante, often without comparison to other issues. We instead define women’s issues in terms of those sponsored at a greater rate by women in Congress over a thirty-year period. This analysis reveals that most (but not all) of the classically considered women’s issues are indeed raised at an enhanced rate by congresswomen. We then track the fate of those issues, demonstrating that the proposals of women (and their specific proposals on women’s issues) achieve far less success than do those of men. We link the bias against women’s issues to the committee process, and suggest pathways through which women’s issues may gain more attention and legislative success in the future.</p>
    <br>
    <a href="http://onlinelibrary.wiley.com/doi/10.1111/ajps.12010/full">READ THE ARTICLE</a>
</div>
<hr>
<div class="row">
    <p>A Formal Theory of Legislative Effectiveness</p>
    <p>Matthew Hitt, Craig Volden, and Alan E. Wiseman</p>
    <p>APSA 2011 Annual Meeting Paper</p>
    <p>2011</p>
    <p>How do differences in effectiveness across lawmakers influence legislative politics and policy outcomes? We develop a formal model of lawmaking wherein a legislator makes a policy proposal consisting of a bill in a unidimensional policy space and a level of valence. Actors' preferences are defined over the policy location and the level of valence that is attached to the policy. A legislator can add valence to a policy by exerting effort, and a legislator's effectiveness in policymaking is captured by the relative costs that she incurs ...</p>
    <br>
    <a href="">READ THE ARTICLE</a>
</div>